<ul nz-menu [nzTheme]="setting?.theme || 'light'" [nzMode]="mode" [nzInlineCollapsed]="inlineCollapsed">
  <ng-container *ngFor="let item of data">
    <ng-container *ngTemplateOutlet="menuItem; context: {$implicit: item}"></ng-container>
  </ng-container>

  <ng-template #menuItem let-item>
    <li nz-menu-divider *ngIf="!item.title"></li>
    <li nz-menu-item [routerLink]="menu?.routerLink || null" *ngIf="item.title && !item?.children?.length">
      <span>
        <i nz-icon type="{{ item.icon }}" *ngIf="item.icon"></i>
        <span class="nav-text">{{ item.title }}</span>
      </span>
    </li>
    <li nz-submenu *ngIf="item.title && item.children?.length">
      <span title>
        <i nz-icon type="{{ item.icon }}" *ngIf="item.icon"></i>
        <span class="nav-text">{{ item.title }}</span>
      </span>
      <ul>
        <ng-container *ngFor="let child of item.children">
          <ng-container *ngTemplateOutlet="menuItem; context: {$implicit: child}"></ng-container>
        </ng-container>
      </ul>
    </li>
  </ng-template>
</ul>
