<ul nz-menu [nzTheme]="setting?.theme || 'light'" [nzMode]="mode" [nzInlineCollapsed]="inlineCollapsed">
  <ng-container *ngFor="let item of data">
    <li nz-menu-divider *ngIf="!item.title"></li>
    <li nz-menu-item [routerLink]="item?.routerLink || null" *ngIf="item.title && !item?.children?.length">
      <span>
        <i class="{{ item.icon }}" *ngIf="item.icon"></i>
        <span class="nav-text">{{ item.title }}</span>
      </span>
    </li>
    <li nz-submenu *ngIf="item.title && item.children?.length">
      <span title>
        <i class="{{ item.icon }}" *ngIf="item.icon"></i>
        <span class="nav-text">{{ item.title }}</span>
      </span>
      <ul>
        <ng-container *ngFor="let item2 of item.children">
          <li nz-menu-divider *ngIf="!item2.title"></li>
          <li nz-menu-item [routerLink]="item2?.routerLink || null" *ngIf="item2.title && !item2?.children?.length">
            <span>
              <i class="{{ item2.icon }}" *ngIf="item2.icon"></i>
              <span class="nav-text">{{ item2.title }}</span>
            </span>
          </li>
          <li nz-submenu *ngIf="item2.title && item2.children?.length">
            <span title>
              <i class="{{ item2.icon }}" *ngIf="item2.icon"></i>
              <span class="nav-text">{{ item2.title }}</span>
            </span>
            <ul>
              <ng-container *ngFor="let item3 of item2.children">
                <li nz-menu-divider *ngIf="!item3.title"></li>
                <li nz-menu-item [routerLink]="item3?.routerLink || null" *ngIf="item3.title">
                  <span>
                    <i class="{{ item3.icon }}" *ngIf="item3.icon"></i>
                    <span class="nav-text">{{ item3.title }}</span>
                  </span>
                </li>
              </ng-container>
            </ul>
          </li>
        </ng-container>
      </ul>
    </li>
  </ng-container>
</ul>
