<ng-template #header>
  <nz-breadcrumb>
    <nz-breadcrumb-item>首页</nz-breadcrumb-item>
    <nz-breadcrumb-item>仪表盘</nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<page [header]="header" [title]="'首页'">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzXl]="16" [nzLg]="24" [nzMd]="24" [nzSm]="24" [nzXs]="24" [style.marginBottom.px]="24">
      <nz-card class="projectList" nzTitle="Card title" [style.marginBottom.px]="24">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
      <nz-card class="activeCard" nzTitle="Card title">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
    </div>
    <div nz-col [nzXl]="8" [nzLg]="24" [nzMd]="24" [nzSm]="24" [nzXs]="24">
      <nz-card nzTitle="Card title" [style.marginBottom.px]="24">
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
      <nz-card nzTitle="Card title" [style.marginBottom.px]="24">
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
      <nz-card nzTitle="Card title">
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
    </div>
  </div>
</page>
