@import "~ng-zorro-antd/ng-zorro-antd.less";
@icon-url : "/assets/fonts/iconfont/iconfont";
body {
    padding: 0 !important;
}

.colorweak {
    filter: invert(80%);
}

// [color="dust"] {
//     color: '#F5222D';
// }
// [color="volcano"] {
//     color: '#FA541C';
// }
// [color="sunset"] {
//     color: '#FAAD14';
// }
// [color="cyan"] {
//     color: '#13C2C2';
// }
// [color="green"] {
//     color: '#52C41A';
// }
// [color="daybreak"] {
//     color: '#1890FF';
// }
// [color="geekblue"] {
//     color: '#2F54EB';
// }
// [color="purple"] {
//     color: '#722ED1';
// }
